
#Animal-details {
    background-color: rgb(76, 33, 62);
    height: 13px;
    align-items: right;
    display: flex;
    padding-bottom: 110px;
    padding-bottom: 115px;
    justify-content: space-around;
  }
  
  
  .Animalinfo{
    height: 650px;
    padding: 20px;
    font-size: 26px;
    border: beige;
    text-align: center;
    padding-bottom: 23px;
    padding-bottom: 0%;
    align-items: bottom;
  }
  
  button {
    background-color: rgb(48, 48, 78);
    color: white;
    margin: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
  }

  
  #img{
    width: 280px;
    height: 280px;
  }
  
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .symbol{
    text-align: center;
    background-color: rgb(76, 33, 62);
    color: white;
    padding: 0.2em;
  }
  
  h1{
    color: white;
    text-align: center;
    font-size: 60px;
  }

  
  #Animal-details span {
    height: 100px;
    justify-content: right;
    font-size: 30px;
    padding: 10px;
    align-items: right;
    width: 100px;
    display: flex;
    text-align: center;
  }